
.container {
    padding: 20px 0;
    
}

h3 {
    font-weight: bold;
    color: #333; 
}
h3:hover{
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

a {
    color: #000; 
    transition: color 0.3s ease; 
}

a:hover {
    color: #007bff; 
}
.footer{
    background-color: #FDE7E1;
    min-height: 40vh;
}